<div id="newtask-mform">
    <form action="/tasks" method="POST">
    <label>Title:</label>
    <label>Note:</label>
    <textarea name="note"></input>
    <label>Completed:</label>
    <input type="text" class="datepicker" name="completed" data-provide="datepicker"></input>
    <br><br>
    <input class="btn btn-primary" type="submit">Submit</input>
    </form>
    <button class="closemodal btn btn-primary">
            Cancel
    </button>
</div>