<div id="newtask-mform">
    <form action="/tasks" method="POST">
    <label>Title:</label>
    <input name="title"type="text"></input>
    <input type="submit">Save</input>
    <button class="closemodal btn btn-primary" type="submit">
            Close
    </button>
</div>