<div id="newtask-mform">
    <form action="/tasks" method="POST">
    <label>Title:</label>
    <input name="title" type="text"></input>
    <label>Note:</label>
    <textarea name="note"></textarea>
    <br><br>
    <input class="btn btn-primary" type="submit"></input>
    </form>
    <button class="closemodal btn btn-primary">
            Cancel
    </button>
</div>